
# Aggregate Service
FEATURE_AGENT_AGGREGATION=true
INTENT_THRESHOLD=0.85
FALLBACK_LLM_MODEL=gpt-3.5-turbo

# Model Configuration
CHAT_DEFAULT_MODEL=gpt-3.5-turbo
EMBEDDING_MODEL=text-embedding-ada-002
SEMANTIC_ANALYSIS_MODEL=gpt-3.5-turbo

# Embedding
LOCAL_EMBEDDING_TYPE="http"
LOCAL_EMBEDDING_URL="http://localhost:8000/v1/embeddings"
LOCAL_EMBEDDING_TIMEOUT=5000
LOCAL_EMBEDDING_RETRIES=3